{#
 # ---------------------------------------------------------------------
 # GLPI Inventory Plugin
 # Copyright (C) 2021 Teclib' and contributors.
 #
 # http://glpi-project.org
 #
 # based on FusionInventory for GLPI
 # Copyright (C) 2010-2021 by the FusionInventory Development Team.
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI Inventory Plugin.
 #
 # GLPI Inventory Plugin is free software: you can redistribute it and/or modify
 # it under the terms of the GNU Affero General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # GLPI Inventoruy Plugin is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 # GNU Affero General Public License for more details.
 #
 # You should have received a copy of the GNU Affero General Public License
 # along with GLPI Inventory Plugin. If not, see <https://www.gnu.org/licenses/>.
 # ---------------------------------------------------------------------
 #}

<nav class="navbar navbar-dark navbar-expand-lg mx-n3 mt-n3 mb-4">
   <div class="container-fluid">
      <ul class="navbar-nav me-auto">
         {% for first_lvl_key, first_lvl in menu %}
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="{{ first_lvl_key }}_menu"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ first_lvl['name'] }}
               </a>
               <ul class="dropdown-menu" aria-labelledby="{{ first_lvl_key }}_menu">
                  {% for second_lvl in first_lvl['children'] %}
                     <li>
                        <a class="dropdown-item text-wrap" href="{{ second_lvl['link'] }}">
                           {% if second_lvl['pic']|length %}
                              <img class="me-2" src="{{ second_lvl['pic'] }}" width="16" height="16">
                           {% endif %}

                           <span>{{ second_lvl['name'] }}</span>
                        </a>
                     </li>
                  {% endfor %}
               </ul>
            </li>
         {% endfor %}
      </ul>
   </div>
</nav>