{#
# ---------------------------------------------------------------------
# GLPI Inventory Plugin
# Copyright (C) 2021 Teclib' and contributors.
#
# http://glpi-project.org
#
# based on FusionInventory for GLPI
# Copyright (C) 2010-2021 by the FusionInventory Development Team.
#
# ---------------------------------------------------------------------
#
# LICENSE
#
# This file is part of GLPI Inventory Plugin.
#
# GLPI Inventory Plugin is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# GLPI Inventory Plugin is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with GLPI Inventory Plugin. If not, see <https://www.gnu.org/licenses/>.
# ---------------------------------------------------------------------
#}
{% import "components/form/fields_macros.html.twig" as fields %}
{% set field_options = field_options|merge({'full_width': true}) %}
{% set rand = field_options.rand %}

{{ fields.textField(
    'name',
    '',
    __('Name'),
    field_options
) }}

{{ fields.dropdownArrayField(
    'mode',
    0,
    item.getModes(),
    __('Mode', 'glpiinventory'),
    field_options
) }}

{{ fields.dropdownArrayField(
    'hive',
    '',
    item.getHives(),
    __('Hive', 'glpiinventory'),
    field_options
) }}

{{ fields.textField(
    'path',
    '',
    __('Path', 'glpiinventory'),
    field_options
) }}

<div id="collect_registry_key_{{ rand }}">
    {{ fields.textField(
        'key',
        '',
        __('Key', 'glpiinventory'),
        field_options
    ) }}
</div>

<div id="collect_registry_depth_{{ rand }}">
    {{ fields.dropdownNumberField(
        'depth',
        0,
        __('Recursion depth', 'glpiinventory'),
        field_options|merge({
            'min': 0,
            'max': 10
        })
    ) }}
</div>

<script>
    $(function () {
        // Registry collect mode values (see PluginGlpiinventoryCollect_Registry):
        //   0 = MODE_DEFAULT, 1 = MODE_PATH_EXISTS, 2 = MODE_KEY_DEFINED
        var rand        = '{{ rand }}';
        var keyField    = $('#collect_registry_key_' + rand);
        var depthField  = $('#collect_registry_depth_' + rand);
        var modeSelect  = keyField.closest('form').find('select[name="mode"]');

        var toggleRegistryFields = function () {
            var mode = parseInt(modeSelect.val(), 10) || 0;
            // The key is useless when we only check the path existence
            keyField.toggle(mode !== 1);
            // The recursion depth only applies to the default mode
            depthField.toggle(mode === 0);
        };

        modeSelect.on('change', toggleRegistryFields);
        toggleRegistryFields();
    });
</script>
